body{
    margin-top: 80px;
   
}



#q1{
    border: 2px solid black;
    width: 50%;
    margin-left:350px;
    margin-top:120px;
    margin-bottom:75px;
    padding: 30px;
    font-size: 20px;
    background-color: rgb(215, 209, 209);
    
}

button{
    width: 100%;
}


a{
    text-decoration: none;

}

a:hover{
    color: #e74c3c;
}

.container{
    width: 100%;
    border: none;
    background-color: none;
}



