{% extends 'movies/base.html' %}
{% load static%}


{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'searchData/css/search.css'%}">


<div class="container">
    <div class="row top-desc">
            <div class="col-6">
                <h1>{{searchedmovie.title}}</h1>
                    <p>Movie  |  {{searchedmovie.releasedDate}}  |  {{searchedmovie.duration}}min</p>           
            </div>
            <div class="col-3">
                <h4>IMDb Rating</h4>
                <div class="social-icon"   >
                    <i class="fas fa-star"></i>
                <span>{{searchedmovie.rating}}</span>
                 </div>
                
            </div>
            <div class="col-3">
                POPULARITY
            </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-4" id="search-img">
            <img src="{{postersearch}}"  alt="">
        </div>
        <div class="col-8" id="search-video">
            <iframe width="100%" height="400px" src="{{trailersearch}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
        </div>
      </div>

      

    <div class="row search-detail"> 
        <div class="col-8">
            <h6 class="genre-btn">Comedy</h6>
            
            {% for i  in searchedmovie.genre  %}   
                {{i}}  
            {% endfor %}	

            <p>{{searchedmovie.description}}</p>
            <hr>
        </div>
        <div class="col-4">

        </div>
    </div>

    <div class="row stars">
         
         <ul>
            <a href="#">Stars</a>
            <a href="#">{{searchedmovie.director}}</a>
            <a href="#">Raghuvir Yadav</a>
            <a href="#">Chandan Roy</a>
         </ul>
    </div>
    <hr>

    <div class="row top-cast">
        <h2>| Top Cast</h2>
        <div class="row">
            <div class="col-1">
                <img src="{% static 'searchData/img/test.png'%}" alt="">
            </div>
            <div class="col-5">
                <a href="#">Jitendra Kumar</a>
                    <p>as Abhishek Tripathi (Gram Sachiv)</p>
            </div>
            <div class="col-1">
                <img src="{% static 'searchData/img/test.png'%}" alt="">
            </div>
            <div class="col-5">
                <a href="#">Jitendra Kumar</a>
                    <p>as Abhishek Tripathi (Gram Sachiv)</p>
            </div>
          </div>

          <div class="row">
            <div class="col-1">
                <img src="{% static 'searchData/img/test.png'%}" alt="">
            </div>
            <div class="col-5">
                <a href="#">Jitendra Kumar</a>
                    <p>as Abhishek Tripathi (Gram Sachiv)</p>
            </div>
            <div class="col-1">
                <img src="{% static 'searchData/img/test.png'%}" alt="">
            </div>
            <div class="col-5">
                <a href="#">Jitendra Kumar</a>
                    <p>as Abhishek Tripathi (Gram Sachiv)</p>
            </div>
          </div>
    </div>

    <div class="row storyline">
        <h2>| Storyline</h2>
        <p>{{searchedmovie.description}}</p>
    </div>


    <div class="row">
        <h2>| Details</h2>
        <hr>
            <div class="col-6">
                <p class="detail-title"><span>Release date </span> 
            </div>
        
            <div class="col-6">
                {{searchedmovie.releasedDate}}</p>
            </div>
        <hr>

        <div class="col-6">
            <p class="detail-title"><span>Language </span> 
        </div>
    
        <div class="col-6">
            {{searchedmovie.org_language}}</p>
        </div>
        <hr>

        <div class="col-6">
            <p class="detail-title"><span>Duration </span> 
        </div>
    
        <div class="col-6">
            {{searchedmovie.duration}}min</p>
        </div>
        <hr>

        <div class="col-6">
            <p class="detail-title"><span>Director </span> 
        </div>
    
        <div class="col-6">
            {{searchedmovie.director}}</p>
        </div>
        <hr>


    </div>

  </div>
  <div class="popularcontainer" id="topratedseries">
   
        <h2>| Recommended</h2>
        <div class="movitem slider">
            {% for i,j,k in data %}
            <a href="{% url 'movies:details' k %}" style="text-decoration: none;"> 
            <div class="card" style="width: 18rem;">
                <img src="{{j}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <!-- {{k}} -->
                <h5 class="card-title">{{i}}</h5>
                </div>
              </div>
            </a>
              {% endfor %}	      
        </div>

 </div>

</div>

<!-- {% for i,j in data %}
   
    <h3 class="card-title">{{i}}</h3>
    <img src="{{j}}" alt="" height="300" width="200">
    
{% endfor %} -->

  

{% endblock %}