{% extends 'movies/base.html' %}

{% load static%}

{% block content%}


<!---------------------------------------------- Action Movies ------------------------------------------>

<!----------------------------- Main Content Body ------------------------------------->
<link rel="stylesheet" type="text/css" href="{% static 'genre/css/action.css'%}">


<div class="container-fluid actionpage">
  
<h1>Action Genre</h1>
  <div class="row main-row">
    {% for movie,poster in result|slice:":6" %}   
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
          <div class="image">
            <img src="{{poster}}" alt="">
          </div>
          <div class="link">
              <a href="{% url 'movies:details' movie.id %}" id="title">{{movie.title}}(action)</a>
          </div>
      </div>
      
      {% endfor %}
  </div>

  <div class="row main-row">
    {% for movie,poster in result|slice:"7:13" %}   
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
          <div class="image">
            <img src="{{poster}}" alt="">
          </div>
          <div class="link">
              <a href="{% url 'movies:details' movie.id %}" id="title">{{movie.title}}(action)</a>
          </div>
      </div>
      
      {% endfor %}
  </div>

  <div class="row main-row">
    {% for movie,poster in result|slice:"14:20" %}   
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
          <div class="image">
            <img src="{{poster}}" alt="">
          </div>
          <div class="link">
              <a href="{% url 'movies:details' movie.id %}" id="title">{{movie.title}}(action)</a>
          </div>
      </div>
      
      {% endfor %}
  </div>

  <div class="row main-row">
    {% for movie,poster in result|slice:"21:27" %}   
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
          <div class="image">
            <img src="{{poster}}" alt="">
          </div>
          <div class="link">
              <a href="{% url 'movies:details' movie.id %}" id="title">{{movie.title}}(action)</a>
          </div>
      </div>
      
      {% endfor %}
  </div>


  <div class="page-links">
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <span class="page-link">
            2
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

</div>
		

{% endblock %}
