{% extends 'movies/base.html' %}

{% load static%}

{% block content%}


<!---------------------------------------------- Action Movies ------------------------------------------>

<!----------------------------- Main Content Body ------------------------------------->
<link rel="stylesheet" type="text/css" href="{% static 'genre/css/action.css'%}">
<div class="container-fluid actionpage">
  <div class="row main-row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
          <div class="image">
            <img src="{% static 'genre/img/action/drama1.jpg'%}" alt="">
          </div>
          <div class="link">
              <a href="#" id="title">Raat Akeli Hai(romance)</a>
          </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
          <div class="image">
            <img src="{% static 'genre/img/action/drama2.jpg'%}" alt="">
          </div>
          <div class="link">
              <a href="#" id="title">Ala Vaikunthapurramuloos</a>
          </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
        <div class="image">
          <img src="{% static 'genre/img/action/drama3.jpeg'%}" alt="">
        </div>
        <div class="link">
            <a href="#" id="title">Karnan</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
        <div class="image">
          <img src="{% static 'genre/img/action/drama4.jpg'%}" alt="">
        </div>
        <div class="link">
            <a href="#" id="title">Vakeel Shab</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
        <div class="image">
          <img src="{% static 'genre/img/action/drama5.jpg'%}" alt="">
        </div>
        <div class="link">
            <a href="#" id="title">Alive</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
        <div class="image">
          <img src="{% static 'genre/img/action/drama6.jpg'%}" alt="">
        </div>
        <div class="link">
            <a href="#" id="title">Shershah</a>
        </div>
      </div>
  </div>

  <div class="row main-row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
        <div class="image">
          <img src="{% static 'genre/img/action/drama1.jpg'%}" alt="">
        </div>
        <div class="link">
            <a href="#" id="title">Raat Akeli Hai</a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
        <div class="image">
          <img src="{% static 'genre/img/action/drama2.jpg'%}" alt="">
        </div>
        <div class="link">
            <a href="#" id="title">Ala Vaikunthapurramuloos</a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
      <div class="image">
        <img src="{% static 'genre/img/action/drama3.jpeg'%}" alt="">
      </div>
      <div class="link">
          <a href="#" id="title">Karnan</a>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
      <div class="image">
        <img src="{% static 'genre/img/action/drama4.jpg'%}" alt="">
      </div>
      <div class="link">
          <a href="#" id="title">Vakeel Shab</a>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
      <div class="image">
        <img src="{% static 'genre/img/action/drama5.jpg'%}" alt="">
      </div>
      <div class="link">
          <a href="#" id="title">Alive</a>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
      <div class="image">
        <img src="{% static 'genre/img/action/drama6.jpg'%}" alt="">
      </div>
      <div class="link">
          <a href="#" id="title">Shershah</a>
      </div>
    </div>
</div>

<div class="row main-row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
        <div class="image">
          <img src="{% static 'genre/img/action/drama1.jpg'%}" alt="">
        </div>
        <div class="link">
            <a href="#" id="title">Raat Akeli Hai</a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
        <div class="image">
          <img src="{% static 'genre/img/action/drama2.jpg'%}" alt="">
        </div>
        <div class="link">
            <a href="#" id="title">Ala Vaikunthapurramuloos</a>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
      <div class="image">
        <img src="{% static 'genre/img/action/drama3.jpeg'%}" alt="">
      </div>
      <div class="link">
          <a href="#" id="title">Karnan</a>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
      <div class="image">
        <img src="{% static 'genre/img/action/drama4.jpg'%}" alt="">
      </div>
      <div class="link">
          <a href="#" id="title">Vakeel Shab</a>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
      <div class="image">
        <img src="{% static 'genre/img/action/drama5.jpg'%}" alt="">
      </div>
      <div class="link">
          <a href="#" id="title">Alive</a>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 main-col">
      <div class="image">
        <img src="{% static 'genre/img/action/drama6.jpg'%}" alt="">
      </div>
      <div class="link">
          <a href="#" id="title">Shershah</a>
      </div>
    </div>
</div>

  <div class="page-links">
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <span class="page-link">
            2
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

</div>
		

{% endblock %}
