{% extends 'movies/base.html' %}}

{% load crispy_forms_tags %}

{%  block content %}


<div class="py-5 my-5"></div>

<div class="container py-5 my-5">

        <form action="{% url 'login' %}"  method="post">

                {% csrf_token %}

                {{ form | crispy  }}

                <button type="submit">Login</button>
        </form>

</div>

<div class="py-3 my-3"></div>

{% endblock %}