{% extends 'movies/base.html' %}}

{% load crispy_forms_tags %}


{%  block content %}


<div class="py-5 my-5"></div>

<div class="container py-5 my-5">
    <form action="{% url 'register' %}"  method="post">

        {% csrf_token %}
    
        {{ form | crispy }}
    
        <button type="submit">Register</button>
    
    </form>
</div>


{% endblock %}