body{
    margin:0;
    font-family: "Roboto Condensed", Arial, sans-serif;
}

/*------------------------------------------------Navbar Styling----------------------------------------- */
nav{
    /* height:80px; */
    margin: 0;

}


.navbar{
    background-color: #304a5c;
}

.navbar-brand img{
    margin-left:30px;
    width:80px;
    height:50px;

}


.navbar-light .navbar-nav .nav-link {
    font-size:larger;
    color: white;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.navbar-light .navbar-nav .nav-link:hover{
    color:burlywood;
}
.navbar-nav{
   margin-left: 30px;
}

.nav-item{
    padding-left: 10px;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding:10px;
    
}

/* .nav-item:hover{
    text-decoration: underline;
    text-decoration-thickness:2px;
    text-underline-offset:2px;
} */
 
.dropdown-menu{
    width: 100%;
    font-family: sans-serif;
    font-size: 17px;
    padding: 0;
}


/* .dropdown-item:hover{
    background-color: #e65f78;
   
} */



/* <!------------------------------------------------Carousel Page--------------------------------------------> */

.carousel{
    margin-top:76px;
}



.carousel-inner{
    height: auto;
}

.carousel-item{
    height:549px;
}

.carousel-item img{
    object-fit: cover;
}

/* <!------------------------------------------------Popular Movies--------------------------------------------> */

.popularcontainer{
    width: 100%;
    margin-top:0px;
    margin-bottom:0px;
    padding-top: 20px;
    padding-bottom:50px;
    background-color:#b3bcc97d;
    
}

.popularcontainer h1{
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    color:darkslategrey;
    font-family: 'Road Rage', cursive;
    
}

.popularcontainer h6{
    font-weight:bold;
    font-size: 15px;
    padding-top: 10px;
    /* margin-left: -170px; */
}

.movitem{
    display:flex;
    margin-left: 40px;
    margin-right: 40px;
    height: 80%;
}
.card{
    margin-left:10px;
    margin-right:10px;
    padding-bottom:30px;
    /* text-align: center; */
    height:400px;;

    
}


.card h5{
    font-weight: bolder;
    text-align: center;
    padding-bottom:10px;
}

.card img{
    height:300px;
}

.card .genre-btn{
    display: inline-block;
    border: 1px solid black;
    border-radius:0px;
    padding: 2px;
    text-align: center;
    color:black;
    margin: 0px;
}

.btn-primary{
   background-color: transparent;
   color: black;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    
}
/* <!------------------------------------------------Recommended Movie-------------------------------------------->  */

#recommendedmovie{
    height: 100%;
    width: 100%;
    margin-top:76px;
    padding-top:10px;
    padding-bottom:40px;
     background-color:#b3bcc97d;
    background-size: cover;
    background-blend-mode:darken;
    
    color: black;
}



.container{
    width: 40%;
    border: 1px solid #909090;
    margin-top:10px;
    margin-bottom:-20px;
    padding: 30px;
    background-color:#d7d1d1;
    font-family: sans-serif;
}

.container img{
    height: 170px;
    width: 130px;
}

.container a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 20px;

}

.container p{
    margin-left: 20px;
}

.container button{
    margin-top: 20px;
    width: 100%;
    border: 1px solid black;
}



 .container button:hover{
    background-color: #e74c3c;
}







/*------------------------------------------------Footer Styling----------------------------------------- */
footer{
    text-align: center;
    background-color:#304a5c;
     padding: 20px;
     color:white;

}

.footer-wrapper{
    /*background-color:aqua;*/
    margin-top:20px;
}


