*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.actionpage{
  margin-top: 100px;
}

.actionpage h1{
  font-weight: bolder;
  text-align: center;
  color:darkslategrey;
  font-family: 'Road Rage', cursive;
}

.actionpage a{
  text-decoration: none;
  
}

.actionpage a:hover{
  color: tomato;
}

.main-row{
  /* border: 2px solid red; */
  height: 300px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  
}

.main-col{
  /* border: 2px solid black; */
  height: 300px;
  
}

.image{
  display: flex;
  justify-content: center;
  
}

.image img{
  width: 200px;
  height: 240px;
  border-radius: 5px;
  margin-top: 5px;
}

.link{
  /* border: 2px solid blue; */
  padding: 5px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.link a{
  font-size: 16px;
  font-weight: bold;
}

/* Page links */

.page-links{
  width: 100%;
  height: 100px;
  
}

/* Responsive Media Queries */

@media (max-width: 575.98px){
  .main-row{
      height: max-content;
  }
} 

@media (max-width: 767.98px){
  .main-row{
      height: max-content;
  }
  .main-col{
      display: inline-block;
  }
}